<% include partials/header.ejs %>
    
    <!-- MAIN CONTENT -->
    <main class="container">
        
    </main>
    
    <h1><%= title %></h1>
    <p>Welcome to
        <%= title %>
    </p>
    
<% include partials/footer.ejs %>   